article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27.1%;
    border: 1px solid rgb(204, 204, 204);
    padding: 3%;
}

.productHeader {
    display: flex;
    justify-content: space-between;
}

.productHeader button {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.productHeader img {
    max-width: 100%;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.productImage {
    width: 60%;
    height: auto;
    margin: 65px 0;
}

.productFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article:hover {
    background-color: rgb(204, 204, 204);
}