article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    border: 1px solid #ccc;
    padding: 3%;
}

.productImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.productFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productFooter h4 {
    font-size: 16px;
    margin: 0;
}

.productFooter h2,
.productHeader h2 {
    font-size: 34px;
    margin: 0;
}